@{
    ViewData["Title"] = "Home Page";
}

<script src="lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVcdLJuFsSpdtX2aLFczj4Qs2UIM3XBl8"></script>
<script type="text/javascript" src="js/jquery.googlemap.js"></script>

<p></p>
<form action="">
    <label for="deviceId">Dispositivo</label>
    <select id="deviceId">
        <option value="withDR">com DR</option>
        <option value="noDR">só GPS</option>
    </select>
    <label for="inicialDate">Data inicial: </label><input id="inicialDate" type="datetime-local" value=""/>
    <label for="finalDate">Data Final: </label><input id="finalDate" type="datetime-local" value=""/>
    <button id="btnUpdate" type="button" class="btn btn-default">Atualizar</button>
</form>
<p></p>

<div id="map" style="width: 100%; height: 500px;"></div>
<script type="text/javascript">
    $(function() {
        $("#map").googleMap({
            zoom: 15, // Initial zoom level (optional)
            coords: [-23.4698745, -47.429797], // Map center (optional)
            type: "ROADMAP" // Map type (optional)
        });

        /*$("#map").addMarker({
            coords: [-23.477276, -47.435171],
            icon: 'images/point.png', // Icon URL
            title: '10:48:11',
            text: '20/03/2018 10:48:11 30 km/h'
        });*/


    })
</script>


<script>
    $(document).ready(function() {

        $("#btnUpdate").click(function() {
            var iDate = $("#inicialDate").val();
            var fDate = $("#finalDate").val();

            $.ajax({
                beforeSend: function(xhrObj){
                    xhrObj.setRequestHeader("Content-Type","application/json");
                    xhrObj.setRequestHeader("Accept","application/json");
                },
                "url": "home/list",
                "type": "POST",
                "dataType": "json",
                "data" : {
                    start: iDate,
                    end: fDate
                },
                success: function(data) {

                    $("#map").addMarker({
                        coords: [data[0].latitude, data[0].longitude],
                        icon: 'images/pointI.png', // Icon URL
                        title: data[0].logDate,
                        text: data[0].speed + "km/h " + data[0].height + "m"
                    });
                    
                    for(var i = 1; i < data.length; i++){

                        $("#map").addMarker({
                            coords: [data[i].latitude, data[i].longitude],
                            icon: 'images/point.png', // Icon URL
                            title: data[i].logDate,
                            text: data[i].speed + "km/h " + data[i].height + "m " + "Coord: " + data[i].latitude + " " + data[i].longitude
                        });

                    }
                    
                    
                    //TODO: fazer um for e adicionar markers, o conteúdo está no data
                    /*$("#map").addMarker({
                        coords: [-23.477276, -47.435171],
                        icon: 'images/point.png', // Icon URL
                        title: '10:48:11',
                        text: '20/03/2018 10:48:11 30 km/h'
                    });*/
                },
                error: function(data) {
                    debugger;
                }
            });
        });
    });
</script>